/*layout >>>>>>>>>>>>>>>>>>>>>>> */

/* Váriaveis */
:root {
    --Marrom: #3e2723;
    --Preto: #000000;
    --Vermelho: #861501;
    --Branco: #ffffff;
    --MarromCabeçalho: #3e1111;
    --Laranja: #905100;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--Vermelho);
    padding: 5px 30px;
    color: var(--Branco);
    border-radius: 50px;
    border: 2px solid var(--Branco);

}

/*Cartâo*/
.card {
    width: 341px;
    height: 520px;
    background-color: var(--Marrom);
    margin-bottom: 25px;
    border-radius: 2px solid var(--Laranja);
    text-align: center;
    border-radius: 25px;

}


.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h2 {
    font-size: 1.3rem;
    color: red;
    margin: 15px 0px;
}

.card p {
    color: var(--Branco);
    padding: 0px 15px 30px 15px;
}

.card h3 {
    margin-bottom: 30px;
    color: var(--Branco);
    font-size: 22px;
}

/*topo do site */
#topo {
    position: fixed;
    right: 15px;
    bottom: 10px;
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
}

/* Fim - Layout <<<<<<<<<<<<<<<<< */

/* Smartphone Portrait >>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    background-color: var(--MarromCabeçalho);
    height: 55px;
}

#logo img {
    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: 15px;
}

#check {
    display: none;
}

label {
    color: rgba(250, 250, 250, 0.85);
    font-size: 2rem;
    position: fixed;
    right: 15px;
    top: 3px;
}

nav ul {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 55px;
    right: -55%;
    width: 55%;
    transition: all 0.5s;
}

/* açâo para a caixa checkbox */
/* quando selecionado mudar propriedades ul */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid var(--Branco);
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: var(--Branco)
}

/*Principal*/
main {
    height: 50vh;
    background: url(./img/banner.jpg);
    background-size: cover;
    background-position: center;

}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: red;
    font-family: 'PT Serif';
    font-size: 46px;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(255, 0, 0, 0.849), 0px 15px 15px rgb(255, 0, 0), 0px 20px 20px rgb(255, 0, 0);
    text-shadow:
        -1px -1px 0px #fff,
        /* canto superior esquerdo */
        1px -1px 0px #fff,
        /* canto superior direito */
        -1px 1px 0px #fff,
        /* canto inferior esquerdo */
        1px 1px 0px #fff;
    /* canto inferior direito */

}

main h2 {
    font-size: .90rem;
    color: var(--Branco);
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(255, 0, 0, 0.849), 0px 15px 15px rgb(255, 0, 0), 0px 20px 20px rgb(255, 0, 0);
    margin-bottom: 30px;

}

/* Destaque */
#destaque {
    padding: 10px 20px;
    background: url(img/backgrounde.jpg);
    background-size: cover;
    background-position: center;

}

#destaque h2 {
    text-shadow:
        -1px -1px 0px #fff,
        /* canto superior esquerdo */
        1px -1px 0px #fff,
        /* canto superior direito */
        -1px 1px 0px #fff,
        /* canto inferior esquerdo */
        1px 1px 0px #fff;
    /* canto inferior direito */
    font-size: 30px;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 450px;
}

#hero-text h2 {
    margin-bottom: 15px;
    margin-top: -20px;
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topics p {
    margin-left: 15px;
    color: red;
    font-size: 16px;
}

#destaque .container {
    margin-bottom: 30px;
    margin-top: -50px;
}
#hero-text h2 {
    color: red;
    text-align: center;
}

#hero-text p {
    font-size: 16px;
    color: var(--Branco);
}

#sobre .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

#texto h2 {
    color: red;
    padding: 10px 5px 10px;
    text-align: center;
    text-shadow:
        -2px -2px 0px #fff,
        /* canto superior esquerdo */
        2px -2px 0px #fff,
        /* canto superior direito */
        -2px 2px 0px #fff,
        /* canto inferior esquerdo */
        2px 2px 0px #fff;
    /* canto inferior direito */
}

#texto p {
    padding: 10px;
    font-size: 20px;
    color: var(--MarromCabeçalho);
}

#sobre h2 {
    font-size: 30px;
}

#sobre iframe {
    width: 370px;
    padding: 10px 10px 10px 10px;
    border: none;

}

#cardapio .container {
    display: flex;
    flex-direction: column;

}

#cardapio {
    padding: 10px 20px;
    background: url(img/backgrounde.jpg);
    background-size: cover;
    background-position: left;
}

#titulo h2 {
    color: red;
    text-align: center;
    font-size: 20px;
    padding: 15px 5px;
}

#titulo p {
    color: var(--Branco);
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

#titulo #p {
    text-align: center;

}

#titulo .btn2 {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: 800;
    background-color: var(--Vermelho);
    padding: 9px 30px;
    color: var(--Branco);
    border-radius: 30px;
    border: 2px solid var(--Branco);
    align-items: center;
    display: inline-block;
    margin: 30px auto 0 auto;
    width: auto;
    max-width: fit-content;

}

#cardapio img {
    display: none;
}

#lanches .container {
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    justify-content: space-around;
}

#lanches .btn {
    font-size: 25px;
    align-items: center;
}

.card p {
    font-size: 18px;
}

.card h2 {
    font-size: 25px;
}

#contato .container {
    display: flex;
    color: var(--Branco);
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}

#contato {
    background-color: #444;
}


#contato iframe {
    display: none;
}

#contato p {
    font-size: 18px;
    font-family: "open sans";
}

.contato #email {
    font-size: 15px;
    padding-top: 10px;
}

#imgemail {
    padding-top: 10px;
}

#mapa {
    padding-top: 10px;
}

#contato .hora {
    display: none;
}
    
footer {
    display: flex;
    background-color: rgb(49, 49, 49);
    padding-bottom: 65px;
    flex-direction: column;
}

footer .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: -55px;
}

footer .icones {
    display: flex;
    padding-top: 20px;
    gap: 10px;

}

footer #mensagem {
    padding-top: 20px;
    color: var(--Branco);
}

/* Fim - Smartphone Portrait <<<<<<<<<<<<<<<< */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /*Cabeçalho*/
    nav ul {
        width: 40%;
        height: -40%;
    }

    /*Principal*/
    main {
        height: 75vh;

    }

    main h1 {
        font-size: 2.75rem;
        color: red
    }

    main h2 {
        font-size: 1.30rem;
    }

    /* Destaque */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 300px;
        margin: 0px 50px 0px 0px;
    }

    .topics {
        display: none;
    }

    #sobre iframe {
        width: 560px;
    }

    #cardapio img {
        display: none;
    }

    /*LANCHES*/
    #lanches {
        background-color: var(--Branco);
        padding: 50px 0px;
    }

    #contato .container {
        padding: 20px 600px 0px 0px;
        padding-bottom: 37px;
    }

    #email {
        padding-top: 8px;
    }
}

/* Fim - Smartphone Landscape <<<<<<<<<<<<<<<<<< */

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Principal*/
    main h1 {
        font-size: 4.0rem;
    }

    main h2 {
        font-size: 1.60rem
    }

    .btn {
        padding: 15px 35px;
        font-size: 2rem;
    }

    #destaque h2 {
        font-size: 40px;
    }
    #destaque p {
        font-size: 20px;
    }
    #texto h2 {
        font-size: 50px;
    }

    #texto p {
        font-size: 35px;
    }

    #sobre iframe {
        width: 700px;
    }

    #titulo h2 {
        font-size: 30px;
    }

    #cardapio p {
        font-size: 30px;
        text-align: left;
    }


    #titulo .btn2 {
        display: inline-block;
        margin: 40px auto 0 auto;
        padding: 15px 20px;
        width: auto;
        max-width: fit-content;
        font-size: 1.5rem;

    }

    #cardapio img {
        display: none;
    }

    #sobre iframe {
        height: 400px;
        margin-bottom: 30px;
    }

    #contato p {
        font-size: 35px;
    }

    #contato img {
        width: 60px;
        height: 60px;
    }

    #whatsapp {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #mapa {
        margin-top: 13px;
    }

    #imgemail {
        margin-top: 20px;
    }
    .icones img {
        height: 60px;
    }
    #mensagem {
        font-size: 23px;
    }
}

/* Tablet Portrait <<<<<<<<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
        justify-content: space-between;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: -2px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        color: gold;
    }

    #sobre iframe {
        width: 960px;
        height: 500px;
    }

    #cardapio img {
        display: none;
    }

    /* Cartões*/
    #lanches .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        margin-right: 25px;
    }
}

/* Tablet Landscape <<<<<<<<<<<<<<<<<< */

/* Notebook/Pc >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /*cabeçalho*/
    header {
        height: 100px;
    }

    #logo img {
        height: 100px;
        width: 100px;
        margin-top: 45px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 17px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        color: gold;
    }

    /* Principal */
    main {
        height: 77vh;
    }

    /* Destaque */
    #destaque {
        background-attachment: fixed;
        height: 630px;

        /*efeito paralax */

    }

    #destaque .container {
        flex-direction: row;

    }

    #hero img {
        width: 400px;
        height: 580px;
    }

    .topics {
        display: flex;
    }

    #hero-text h2 {
        font-size: 50px;
    }

    #hero-text p {
        font-size: 20px;
    }

    #sobre .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding-top: 60px;
    }

    #sobre #texto {
        max-width: 55%;
        font-size: 90px;
    }

    #sobre iframe {
        max-width: 860px;
        height: 400px;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }

    #sobre p {
        font-size: 25px;
        padding-right: 50px;
        font-family: "open sans";
        color: var(--MarromCabeçalho);
    }

    #sobre h2 {
        font-size: 50px;
        text-align: left;
        margin-top: -80px;
    }

    #titulo h2 {
        text-align: left;
        font-size: 40px;
    }

    #titulo .btn2 {
        margin: 40px 0 0 0;
        display: inline-block;
        float: left;
    }

    #qrcode img {
        width: 380px;
        height: 380px;
        padding: 20px;
        margin-left: 30px;
        padding-top: 50px;
        display: block;
    }

    #cardapio .container {
        flex-direction: row;
    }

    #cardapio p {
        font-size: 25px;
        font-family: "open sans";
    }

    #cardapio {
        padding: 10px 20px;
        background: url(img/backgrounde.jpg);
        background-size: cover;
        background-position: left;
        background-attachment: fixed;
        height: 50vh;
    }
   
  #contato {
  background-color: #444;
  color: #fff;
  padding: 60px 0;
  font-family: "Open Sans", sans-serif;
  
}

#contato .contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 140px;
  
}

#contato iframe {
  display: flex;
}

#contato .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}

#contato .item {
  display: flex;
  align-items: center;
  
}

#contato .item img {
  width: 40px;
  height: 50px;
  margin: 10px;
}

#contato .item p {
  font-size: 23px;
  padding-bottom: 10px;
}

#contato .hora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 60px;
    margin-bottom: 26px;
    
}
#contato .hora h2 {
    font-size: 32px;
    padding-bottom: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#contato .hora p {
    font-size: 23px;
}


footer {
    display:block;
    padding-bottom: 0px;
}

footer .container {
    flex-direction: row;
    padding-top: 0px;
}

footer #mensagem {
    padding-top: 60px;
    margin-left: 100px;
    font-size: 22px;
}

.icones img {
    height: 48px;
    width: 60px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.container #mensagem {
    padding-bottom: 60px;
}
}

/* Notebook/Pc <<<<<<<<<<<<<<<<<< */

/* Full HD/4K >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 3rem;
    }
}

/* Full HD/4K <<<<<<<<<<<<<<<<<< */