/*layout >>>>>>>>>>>>>>>>>>>>>>> */

/* Váriaveis */
:root {
    --Marrom: #3e2723;
    --Preto: #000000;
    --Vermelho: #861501;
    --Branco: #ffffff;
    --MarromCabeçalho: #3e1111;
    --Laranja: #905100;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--Vermelho);
    padding: 5px 30px;
    color: var(--Branco);
    border-radius: 50px;
    border: 2px solid var(--Branco);

}


/* Fim - Layout <<<<<<<<<<<<<<<<< */

/* Smartphone Portrait >>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    background-color: var(--MarromCabeçalho);
    height: 55px;
}

#logo img {
    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: 10px;
}

#check {
    display: none;
}

label {
    color: rgba(250, 250, 250, 0.85);
    font-size: 2rem;
    position: fixed;
    right: 15px;
    top: 3px;
}

nav ul {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 55px;
    right: -55%;
    width: 55%;
    transition: all 0.5s;
}

/* açâo para a caixa checkbox */
/* quando selecionado mudar propriedades ul */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 20px;
    text-align: right;
    border: 1px solid var(--Branco);
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: var(--Branco)
}

/*Principal*/
main {
    height: 50vh;
    background: url(./img/banner.jpg);
    background-size: cover;
    background-position: center;

}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: red;
    font-family: 'PT Serif';
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(255, 0, 0, 0.849), 0px 15px 15px rgb(255, 0, 0), 0px 20px 20px rgb(255, 0, 0);

}

main h2 {
    font-size: .90rem;
    color: var(--Branco);
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(255, 0, 0, 0.849), 0px 15px 15px rgb(255, 0, 0), 0px 20px 20px rgb(255, 0, 0);
    margin-bottom: 30px;

}

/* Destaque */
#destaque {
    padding: 10px 20px;
    background: url(img/backgrounde.jpg);
    background-size: cover;
    background-position: center;
    
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}
#hero img {
    width: 300px;
    height: 450px;
}

#hero-text h2 {
    margin-bottom: 15px;
    margin-top: -20px;
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topics p {
    margin-left: 15px;
    color: red;
    font-size: 16px;
}

#hero-text h2 {
    color: red;
    text-align: center;
}

#hero-text p {
    font-size: 13px;
    color:  var(--Branco);
}



/* Fim - Smartphone Portrait <<<<<<<<<<<<<<<< */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /*Cabeçalho*/
    nav ul {
        width: 40%;
        height: -40%;
    }

    /*Principal*/
    main {
        height: 75vh;

    }

    main h1 {
        font-size: 2.75rem;
        color: red
    }

    main h2 {
        font-size: 1.30rem;
    }
}

/* Fim - Smartphone Landscape <<<<<<<<<<<<<<<<<< */

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Principal*/
    main h1 {
        font-size: 4.0rem;
    }

    main h2 {
        font-size: 1.60rem
    }

    .btn {
        padding: 15px 35px;
        font-size: 2rem;
    }

}

/* Tablet Portrait <<<<<<<<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
        justify-content: space-between;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: -2px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        color: gold;
    }
}

/* Tablet Landscape <<<<<<<<<<<<<<<<<< */

/* Notebook/Pc >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    /*cabeçalho*/
    header {
        height: 100px;
    }

    #logo img {
        height: 100px;
        width: 100px;
        margin-top: 45px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 17px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        color: gold;
    }

    /* Principal */
    main {
        height: 80vh;
    }

}

/* Notebook/Pc <<<<<<<<<<<<<<<<<< */

/* Full HD/4K >>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 3rem;
    }
}

/* Full HD/4K <<<<<<<<<<<<<<<<<< */